/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English+SC&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Couleurs =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: white;
  --premiere-couleur: #000000;
  --deuxieme-couleur: #ffffff;
  --toisieme-couleur: #0d004f;
  --quatrieme-couleur: #3c0072;
  --cinquieme-couleur: #610095;
  /*===== Typo & Fonts =====*/
  --body-font-simple: "Arvo", serif;
  --body-font-fantasy: "IM Fell English SC", serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margins =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font-simple);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: var(--toisieme-couleur);
}



h1 {
  margin: 0;
  font: var(--body-font-fantasy);
  font-size: var(--big-font-size);
  color: var(--deuxieme-couleur);
}

h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.section-title {
  position: relative;
  font-family: var(--body-font-fantasy);
  font-size: var(--big-font-size);
  color: var(--deuxieme-couleur);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--deuxieme-couleur);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--deuxieme-couleur);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*=== NAV ===*/
.logo__nav {
  display: inline;
  width: 350px;
  height: auto;
  cursor: pointer;
  outline: none;
}


/*=== BUTTONS ===*/
.button {
  display: inline-block;
  background-color: var(--premiere-couleur);
  color: var(--deuxieme-couleur);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(253, 251, 251, 0.15);
}

/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* ==== ANIME ==== */


.anime{
  width: 190px;
  height: 190px;
  border-radius: 50%;
}


#titre{
  display: flex;
  justify-content: center;
  padding: 20px;
}
#dr:hover{
  background-color: #5C161D;
}
#na:hover{
  background-color: #53461e;
}
#on:hover{
  background-color: grey;
}
#one:hover{
  background-color: #1079a3;
}
#manga:hover{
  background-color: blue;
  
}


/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--deuxieme-couleur);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== HOME ====*/

.home {
  padding: 8rem 0 2rem;
}

.home__data {
    align-self: center;
}

.home__title {
  font-family: var(--body-font-fantasy);
  font-size: var(--big-font-size);
  padding: 0 0 0 8rem;
}

.home__title-color {
  color: var(--cinquieme-couleur);
}

.home__img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  bottom: 10%;
}

.button__bienvenue {
    border-radius: 35px;
    padding: 1rem;
    margin-left: 35.50rem;
    background-color: var(--cinquieme-couleur);
    color: var(--deuxieme-couleur);
    cursor: pointer;
    outline: none;
}

.button__bienvenue:hover {
    background-color: var(--toisieme-couleur);
    color: var(--deuxieme-couleur);
    box-shadow: 0px 10px 36px rgba(253, 251, 251, 0.15);   
}

.about__container {
  padding-top: 2rem;
}

.about__img img {
  width: 300px;
}

.slide-block{
  margin: 0 45px;
  padding: 10px;
}

.carousel {
  width: 30rem;
  height: auto;
  display: flexbox;
  justify-content: center;

}

/* ===== FOOTER =====*/

.webtoon{
  width: 30%;
}

.text{
  color: #fff;
  display: flex;
  text-align: top;
}


/* ===== FOOTER =====*/
.footer {
  background-color: var(--cinquieme-couleur);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/*======== HOME LIVRE =========*/

.homel__container {
  position: relative;
  row-gap: 2.5rem;
}

.homel__img {
  width: 150rem;
}

.homel__img-bg {
  background-color: none;
  width:35rem;
  height: auto;
  padding-bottom: 2rem;
  display: flex-end;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  transform: translateX(1.5rem);
}

.homel__title {
  font-family: var(--body-font-fantasy);
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
}

.homel__description {
  background-color: var(--deuxieme-couleur);
  margin-bottom: var(--mb-1-5);
}

.homel__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--deuxieme-couleur);
  margin-bottom: var(--mb-3);
}

.homel__btns {
  display: flex;
  align-items: center;
}

.homel__button {
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}

.homel__social {
  position: absolute;
  top: 35%;
  right: -2.5rem;
  display: flex;
  column-gap: 1rem;
  color: var(--deuxieme-couleur);
  font-family: var(--body-font-simple);
}


/*=============== BUTTONS ===============*/
.buttonl {
  display: inline-block;
  background-color: var(--button-color);
  color: #FFF;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: .3s;
}

.buttonl:hover {
  background-color: var(--button-color-alt);
}

.buttonl--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.buttonl--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.buttonl--small {
  padding: 1rem 1.5rem;
}

/* ===== FORM INSCRIPTION =====*/

.inscription {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: var(--cinquieme-couleur);
  color: var(--deuxieme-couleur);
}

.div#lab{
	display: block; /* La balise devient de type block. */
	width: 200px;
}

.form .button
{
  height: 50px;
  width: 200px
}

.img-fluid{
  display: flex;
  justify-content: center;
  width: 55px;
  height: 55px;
}

.input:invalid {
  background-color: #ffc5c5;
}
 
.input:valid {
  background-color: #ddffdd;
}

.input:required {
  border-color: #800000;
  border-width: 3px;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}
